* {
  background-color: rgb(250, 243, 225);
}

/* .App {
  display: flex;
  flex-direction: column;
} */

.race-container {
  display: flex;
  overflow-wrap: wrap;
  margin-top: 15vh;
  margin-left: 5vw;
  justify-content: space-between;
  height: min-content;
  width: 90vw;
}

.header {
  display: flex;
  justify-content: space-between;
}

#home-button {
  display: absolute;
  border-radius: 0 0 15px 0;
  background-color: rgb(78, 13, 51);
  width: 25vw;
  height: min-content;
  border: solid;
  border-color: black;
}

#home-button h1 {
  color: rgb(255, 229, 196);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.race-container .race {
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  height: 700px;
  width: 400px;
  text-align: center;
  /* flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0; */
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding: 1.75rem;
}

input,
textarea,
select {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.3s;
  border: 2px solid black;
}

.race-container .race:hover {
  /* border-width: 3px; */
  border-top-width: 10px;
  border-radius: 20px 20px 5px 5px;
  border-color: rgb(78, 13, 51);
}

.race-container .race h1 {
  margin-top: 110px;
  background-color: rgba(0, 0, 0, 0);
}

.characters-page {
  display: flex;
  flex-direction: row;
}

.character-card {
  border: solid;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  width: max-content;
}

.characters-list {
  flex-direction: column;
  margin-top: 3vh;
  margin-left: 6.5vw;
  height: 80vh;
  width: min-content; 
  overflow: scroll;
  justify-content: space-between;
}

.character-details {
  max-width: 40vw;
  margin-left: 20vw;
  margin-top: 12vh;
}

.character-details img {
  width: 500px;
  height: auto;
  border: solid;
  border-color: black;
}

#men {
  background-color: rgb(230, 230, 230);
}

#elves {
  background-color: rgb(217, 253, 217);
}

#maiar {
  background-color: rgb(209, 236, 245);
}

#dwarves {
  background-color: rgb(163, 163, 163);
}

#orc-kind {
  background-color: rgb(22, 22, 22);
}

#men h1 {
  color: rgb(226, 127, 6);
}

#elves h1 {
  color: rgb(4, 128, 128);
}

#maiar h1 {
  color: rgb(226, 127, 6);
}

#dwarves h1 {
  color: rgb(255, 217, 3);
}

#orc-kind h1 {
  color: rgb(212, 5, 5);
}