* {
  margin: 0;
  --men-background: rgb(230, 230, 230);
  --elven-background: rgb(218, 255, 243);
  --maiar-background: rgb(222, 217, 248);
  --dwarven-background: rgb(163, 163, 163);
  --orc-background: rgb(43, 42, 42); 

  --men-header: rgb(226, 127, 6);
  --elven-header: rgb(25, 180, 180);
  --maiar-header: rgb(0, 255, 255);
  --dwarven-header: rgb(255, 182, 45);
  --orc-header: rgb(212, 36, 5);
}

@font-face {
  font-family: 'RingbearerMedium';
  src: url('./Fonts/Ringbearer/RingbearerMedium-51mgZ.ttf')
}

@font-face {
  font-family: 'Bilbohand';
  src: url('./Fonts/Bilbohand/BilboHandRegular-L3MZ.ttf')
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(2, 2, 2, 0.486);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(94, 94, 94);
}

.App {
  background-color: rgb(250, 243, 225);
  height: 100vh;
  width: 100vw;
  background-image: url('./Symbols/theonering.jpg');
  background-position: center;
  background-size: 220vh;
  background-repeat: no-repeat;
}

.men-page {
  background-image: url('./Symbols/witchkingvseowyn.jpg');
  background-position: center;
  background-size: 220vh;
  background-repeat: no-repeat;
}

.elves-page {
  background-image: url('./Symbols/rivendell.png');
  background-position: center;
  background-size: 220vh;
  background-repeat: no-repeat;
}

.maiar-page {
  background-image: url('./Symbols/maiarbattle.jpg');
  background-position: center;
  background-size: 220vh;
  background-repeat: no-repeat;
}

.dwarves-page {
  background-image: url('./Symbols/erebor.jpg');
  background-position: center;
  background-size: 240vh;
  background-repeat: no-repeat;
}

.orcs-page {
  background-image: url('./Symbols/mordor.jpg');
  background-position: center;
  background-size: 260vh;
  background-repeat: no-repeat;
}

.addNew h3{
  height: min-content;
  width: min-content;
  background-color: rgb(179, 151, 100);
  color: black;
  border: solid;
  border-color: black;
}

.race-container {
  display: flex;
  overflow-wrap: wrap;
  margin-top: 13vh;
  margin-left: 5vw;
  justify-content: space-between;
  height: min-content;
  width: 90vw;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.addNew {
  width: min-content;
}

#home-button {
  display: absolute;
  border-radius: 0 0 15px 0;
  background-color: rgb(46, 46, 46);
  width: 18vw;
  height: 6vh;
  min-height: max-content;
  border: solid;
  border-color: black;
}

#home-button h1 {
  color: rgb(179, 151, 100);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.3vw;
  font-family: 'RingbearerMedium';
  margin-top: 1.5vh;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.race-container .race {
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  height: 52vh;
  width: 15vw;
  text-align: center;
  background-color: rgb(46, 46, 46);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 80vh;
  margin: 0 auto;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('./Symbols/scroll.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.form {
  position: relative;
  left: 16%;
  top: 35%;
  width: 70%;
  height: 50%;
}

#formGender {
  position: relative;
  bottom: 20%;
}

#formCulture {
  position: relative;
  left: 10%;
}

#formRace {
  position: relative;
  left: 5%;
}

#formText {
  position: relative;
  bottom: 20%;
  left: 5%;
}

#formButton {
  position: relative;
  height: 40%;
  top: 20%;
  left: 25%;
}

.inputType {
  height: 8vh;
  width: 8vw;
  background-color: rgba(0, 0, 0, 0);
}

input,
textarea,
select {
  border: none;
  font-size: 2rem;
  font-family: 'Bilbohand';
  font-weight: bold;
  transition: all 0.3s;
  border: 0.5px solid black;
}

.search input {
  color: white;
  background-color: rgba(32, 32, 32, 0.856);
  border-radius: 18px 18px 18px 18px;
}

.race-container .race:hover {
  border-top-width: 10px;
  border-radius: 20px 20px 5px 5px;
  border-color: rgb(179, 151, 100);
  cursor: url("./Symbols/oneringpng.png") auto;
}

.race-container .race h1 {
  margin-top: 110px;
}

.characters-page {
  display: flex;
  flex-direction: row;
}

.characters-page-left {
  flex-direction: column;
  margin-left: 4vw;
  margin-top: 8vh;
}

.character-card {
  text-align: center;
  width: 10vw;
}

.men-card {
  color: var(--men-header);
}

.elves-card {
  color: var(--elven-header);
}

.maiar-card {
  color: var(--maiar-header);
}

.dwarves-card {
  color: var(--dwarven-header);
}

.orcs-card {
  color: var(--orc-header);
}

.search {
  max-height: 5vh;
  background-color: rgba(0, 0, 0, 0);
}

.characters-list {
  display: flex;
  flex-direction: column;
  height: min-content;
  max-height: 70vh;
  width: min-content; 
  overflow: scroll;
  overflow-x: hidden;
  justify-content: flex-start;
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 20px 20px 20px 20px;
}

.characters-list::-webkit-scrollbar {
  display: none;
}



.character-details {
  max-width: 60vw;
  margin-left: 8vw;
  margin-top: 15vh;
}

.character-details img {
  width: 500px;
  height: auto;
  border: solid;
  border-color: black;
}

.character-details h1 {
  margin-bottom: 5vh;
  font-size: 50px;
}

.character-details p {
  font-family: 'sans-serif';
  font-size: 20px;
  margin-top: 5vh;
  letter-spacing: 1px;
  line-height: 1.7;
  overflow: scroll;
  overflow-x: hidden;
  height: min-content;
  max-height: 50vh;
}

.symbol {
  max-width: 70%;
  max-height: 100%;
}


#mirkwood {
  margin-top: 12vh;
}

#white-tree {
  margin-top: 3vh;
  height: 50%;
}

#black-speech {
  margin-top: 5vh;
}

#men h1 {
  color: var(--men-header);
}

#elves h1 {
  color: var(--elven-header);
}

#maiar h1 {
  color: var(--maiar-header);
}

#dwarves h1 {
  color: var(--dwarven-header);
}

#orc-kind h1 {
  color: var(--orc-header);
}

.men-h1 {
  color: var(--men-header);
}

.elves-h1 {
  color: var(--elven-header);
}

.maiar-h1 {
  color: var(--maiar-header);
}

.dwarves-h1 {
  color: var(--dwarven-header);
}

.orcs-h1 {
  color: var(--orc-header);
}

.men-h2 {
  color: rgb(255, 255, 255)
}

.maiar-h2 {
  color: rgb(3, 3, 3);
}

.dwarves-h2 {
  color: rgb(90, 252, 176)
}

.elves-h2 {
  color: rgb(250, 232, 132);
}

.orcs-h2 {
  color: rgb(255, 166, 0);
}

.orcs-p {
  color: white;
  background-color: rgba(27, 27, 27, 0.712);
  border-radius: 4px 10px 10px 4px;
}

.elves-p {
  color: var(--elven-background);
  background-color: rgba(27, 27, 27, 0.712);
  border-radius: 4px 10px 10px 4px;
}

.men-p {
  color: var(--men-background);
  background-color: rgba(22, 22, 22, 0.76);
  border-radius: 4px 10px 10px 4px;
}

.maiar-p {
  color: var(--maiar-background);
  background-color: rgba(27, 27, 27, 0.712);
  border-radius: 4px 10px 10px 4px10
}

.dwarves-p {
  color: rgb(218, 218, 218);
  background-color: rgba(27, 27, 27, 0.712);
  border-radius: 4px 10px 10px 4px;
}

.race-symbol {
  height: min-content;
  margin-top: 10vh;
  width: 20vw;
}